body{
  background-color: #89bdd3;
  overflow: hidden;
}
#play-text{
  position: relative;
  top: -25%;
  color: white;
  font-size: 300%;
}
#play{
  background-color:#c9c9c9;
  width: 15rem;
  height: 5rem;
  position: absolute;
  top: -25%;
}
.account-button{
  display: inline-block;
  width: 5rem;
  height: 3rem;
  background-color: #c9c9c9;
}
#account-button-wrapper{
  position: absolute;
  right: 1rem;
}
.account-button-text{
  position: relative;
  top: -10%;
  color: white;
}
#play-text, .account-button-text{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#loading{
  width: 100%;
  height: 100%;
  background-color: #c9c9c9;
}
@-webkit-keyframes scroll {
  from{background-position: 0; }
  to{ background-position: -900000px; }
}
#banner{
  position: absolute;
  width: 2000px;
  height: 500px;
  background: url('images/FloridaManBanner.png');
  bottom: 0px;
  left: 0px;
  -webkit-animation: scroll 9000s linear infinite;
}
